.card-property{
    height: 300px;
    width: 200px;
    background-color: lightgrey;
    border-radius: 10px;
}

.HomesList{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}